.video-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
        width: 100%;
    }
}


.video-right-container {
    width: 100%;
    height: 100%;
}

.welcome-information{
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 0;
    .welcome-inner-card{
        height: 90%;
        background-color: white;
    margin-left: -1rem;
    z-index: 10;
    }
}